@model PassionProjectN01649276.Models.View_Models.CustomerBookings
@{
    ViewBag.Title = "Show";
}

<h2>Customer Details</h2>

<a class="btn btn-success my-3" href="/Customer/List">Go back to Customers list</a>

<div class="container mt-2 mb-5 cust_details">
    <div class="row">
        <div class="col-md-8">
            <div class="card w-100">
                <div class="card-header bg-info text-white">
                    <h2 class="card-title fw-bold">@Model.SelectedCustomer.CustomerName</h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><span class="fw-bold">Email:</span> @Model.SelectedCustomer.Email</p>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex justify-content-end">
                                <!-- Delete Customer -->
                                <a href="/Customer/DeleteConfirm/@Model.SelectedCustomer.CustomerId" class="btn btn-danger me-2">Delete</a>
                                <!-- Update Customer -->
                                <a href="/Customer/Edit/@Model.SelectedCustomer.CustomerId" class="btn btn-primary">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-100 mt-5 bg-light">
                <div class="card-body">
                    <div class="w-50 text-center mx-auto customers_total_bkng">
                        @{
                            int totalBookings = Model.RelatedBookings.Count();
                        }
                        <p class="fs-4 fw-bold text-danger" id="total_p">Total bookings: @totalBookings</p>
                        <p class="fs-6"><span class="fw-bold">@Model.SelectedCustomer.CustomerName</span> has the following bookings:</p>
                        <ul class="list-group">
                            @if (Model.RelatedBookings.Any())
                            {
                                foreach (var booking in Model.RelatedBookings)
                                {
                                    <li class="list-group-item"><a class="fs-5 text-decoration-none text-danger" href="/Booking/Show/@booking.BookingId">@booking.Bookingdate</a></li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item text-danger">No bookings made yet!</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>