@model PassionProjectN01649276.Models.BookingDto
@{
    ViewBag.Title = "Show";
}


<a href="/Booking/List">Go Back to List</a>

<h3># @Model.BookingId</h3>

<div>BookingDate: @Model.Bookingdate</div>
<div>Status: @Model.Status</div>
<div>Customer Name: @Model.CustomerName</div>
<div>Tour Name: @Model.TourName</div>

